@model Product

@{
    ViewBag.Title = "Удаление продукта";
    Layout = "_Layout";
}

<h2>Удаление продукта</h2>

<div>
    Вы уверены, что хотите удалить продукт: 
    <div>
        <b>Название:</b> @Model.Title<br />
        <b>Стоимость:</b> @Model.Price<br />
    </div>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button>Удалить</button>
    <a asp-action="Index">Отмена</a>
</form>
