@model List<Product>

@{
    ViewBag.Title = "Спиоск продуктов";
    Layout = "_Layout";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/productCategories.js"></script>
    <script src="~/js/product.js"></script>
}

<div class="container text-center">
    <div class="header item d-flex align-items-center justify-content-between mb-4">
        <div class="text-start">
            <h2>Таблица товаров</h2>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Добавить товар</button>
        </div>
    </div>
    <div>
        <div class="row pb-2">
            <div class="col fw-bold">
                Название продукта
            </div>
            <div class="col fw-bold">
                Подкатегория товара
            </div>
            <div class="col fw-bold">
                Стоимость, ₽
            </div>
            <div class="col fw-bold">
                Просмотр
            </div>
        </div>
        @foreach (var product in Model)
        {
            <div class="row mb-2 border-bottom">
                <div class="col">
                    @product.Title
                </div>
                <div class="col">
                    @product.SubProductCategory.Name
                </div>
                <div class="col">
                    @product.Price
                </div>
                <div class="col">
                    @* ReSharper disable once HeapView.ObjectAllocation.Evident  *@
                    <a class="btn btn-primary mb-2" href="@Url.Action("Details", "Product", new { id = product.Id })" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<!--Add modal-->
<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="add-modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Форма для добавления товара</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <form id="addForm" asp-action="Create" method="post">
                    <div class="form-group">
                        <label>Название продукта</label>
                        <input type="text" class="form-control" name="Title">
                        <span data-valmsg-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Категория товара</label>
                        <select name="SubProductCategoryId" class="form-control" id="add-category-list"></select>
                        <span data-valmsg-for="SubProductCategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Стоимость, ₽</label>
                        <input type="text" class="form-control" name="Price">
                        <span data-valmsg-for="Price" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button id="saveChangesButton" type="submit" class="btn btn-primary mt-1">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

