@{
    ViewBag.Title = "Спиоск продуктов";
    Layout = "_Layout";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="~/js/productCategories.js"></script>
    <script src="~/js/dropDownListCategories.js"></script>
    <script src="~/js/productTable.js"></script>
}

<div id="productTable" style="display:none;">
    <div id="toolbar">
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Добавить товар</button>
        </div>
    </div>
    <table
        id="table"
        data-locale="ru-RU"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-fullscreen="true"
        data-ajax="ajaxRequest"
        data-show-pagination-switch="true"
        data-pagination="true"
        data-id-field="id"
        data-page-size="7"
        data-page-list="[10,25,50,100, all]"
        data-show-footer="true"
        data-formatter="viewFormatter">
        <thead>
        <tr>
            <th data-field="title"
                data-sortable="true"
                data-width="300"
                data-footer-formatter="totalFormatter"
                data-align="center">
                Название продукта
            </th>
            <th data-field="productCategory.name"
                data-width="300"
                data-footer-formatter="nameFormatter"
                data-align="center">
                Подкатегория товара
            </th>
            <th data-field="price"
                data-sortable="true"
                data-sorter="priceSorter"
                data-width="300"
                data-footer-formatter="priceFormatter"
                data-align="center">
                Стоимость, ₽
            </th>
            <th data-formatter="viewFormatter"
                data-width="300"
                data-align="center">
                Просмотр
            </th>
        </tr>
        </thead>
    </table>
</div>
<!--Add modal-->
<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="add-modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Форма для добавления товара</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="addForm" asp-action="Create" method="post">
                    <div class="form-group">
                        <label>Название продукта</label>
                        <input type="text" class="form-control" name="Title">
                        <span data-valmsg-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Категория товара</label>
                        <select name="ProductCategoryId" class="form-control" id="add-category-list">
                            <option value="" disabled selected></option>
                        </select>

                        <span data-valmsg-for="ProductCategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Стоимость, ₽</label>
                        <input type="number" class="form-control" name="Price">
                        <span data-valmsg-for="Price" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button id="saveChangesButton" type="submit" class="btn btn-primary mt-1">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>